/* About Page */

.about-page-container {
  margin-top: 55px;
}

.about-page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  /* border: 1px solid black; */
}
.about-page-left {
  max-width: 50%;
}

.about-page-right {
  max-width: 750px;
}

.about-page-image-wrapper {
  margin-top: 25px;
}

.about-page-image {
  border-radius: 50%;
  max-width: 350px;
  max-height: 100%;
}

.about-image-break {
  max-width: 70%;
}

.about-page-cert li {
  list-style-type: none;
  opacity: 0.66;
  /* text-align: left; */
}

.about-page-cert ul {
  padding-left: 0px;
}

.about-page-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  max-width: 900px;
  background-color: #f8f5d0;
  border-radius: 30px;
  margin: 70px 50px 50px 70px;
  /* border: 1px solid orange; */
}

.about-page-copy {
  align-items: center;
  margin: 25px;
  margin-bottom: 5px;
  text-align: left;
  /* border: 1px solid red; */
}

@media only screen and (max-width: 1130px) {
  .about-page-wrapper {
    flex-direction: column;
  }
  .about-page-left {
    max-width: 100%;
  }
  .about-page-content {
    margin: 50px 10px 10px 50px;
  }
  .about-page-content {
    margin: 10px;
  }

  .about-page-cert ul {
    font-size: 17px;
    padding-left: 0px;
  }
}
