/* About Card - Home Page */

.about-color-wrapper {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0 20px 0;
  background-color: black;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* background-image: url('../Assets/sara-about-cutout-1.png'); */
  z-index: 3;
  background-image: url('../Assets/Sara-about-1920.png');
}

@media only screen and (max-width: 470px) {
  .about-color-wrapper {
    background-position: -115px 10px;
  }
}

@media only screen and (max-width: 900px) {
  .about-color-wrapper {
    background-position: -115px 10px;
  }
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  max-width: 1100%;
}

/* .about-image-container {
  padding: 25px;
} */
/* 
.about-image {
  max-width: 90%;
  max-height: 90%;
  padding: 10px;
  border-radius: 15px;
} */

@media only screen and (max-width: 930px) {
  .about-image {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
  }

  .about-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}

.about-content {
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  max-width: 700px;
  /* font-family: 'Prata', serif; */
  color: rgb(204, 203, 203);
  text-align: left;
  margin-left: 170px;
}

/* About Page */

.about-page-container {
  margin-top: 55px;
}

.about-page-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* max-height: 150px; */
  min-height: 150px;
  background: linear-gradient(rgba(20, 20, 20, 0.35), rgba(20, 20, 20, 0.35)),
    url('../Assets/about-banner-2.jpg');
  background-size: cover;
  /* background-position: 20% 100%; */
}

.about-page-banner h2 {
  color: white;
  font-size: 48px;
  margin-bottom: 0px;
}
.about-page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  /* border: 1px solid black; */
}
.about-page-left {
  max-width: 50%;
}

.about-page-right {
  max-width: 750px;
}

.about-page-image-wrapper {
  margin-top: 25px;
}

.about-page-image {
  border-radius: 50%;
  max-width: 350px;
  max-height: 100%;
}

.about-image-break {
  max-width: 70%;
}

.about-page-cert li {
  list-style-type: none;
  opacity: 0.66;
  /* text-align: left; */
}

.about-page-cert ul {
  padding-left: 0px;
}

.about-page-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  max-width: 900px;
  background-color: #f8f5d0;
  border-radius: 30px;
  margin: 70px 50px 50px 70px;
  /* border: 1px solid orange; */
}

.about-page-copy {
  align-items: center;
  margin: 25px;
  margin-bottom: 5px;
  text-align: left;
  /* border: 1px solid red; */
}

@media only screen and (max-width: 930px) {
  .about-page-wrapper {
    flex-direction: column;
  }
  .about-page-left {
    max-width: 100%;
  }
  .about-page-content {
    margin: 50px 10px 10px 50px;
  }
  .about-page-content {
    margin: 10px;
  }

  .about-page-cert ul {
    font-size: 17px;
    padding-left: 0px;
  }
}
