/* banner Card - Home Page */

.banner-color-wrapper {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0 20px 0;
  background-color: black;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* background-image: url('../Assets/sara-banner-cutout-1.png'); */
  z-index: 3;
  background-image: url('../Assets/Sara-about-1920.png');
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  max-width: 1000px;
  color: rgb(221, 221, 221);
  text-align: center;
  margin-left: 170px;
}

.banner-welcome {
  font-size: 52px;
  font-weight: 500;
  text-align: center;
  max-width: 1000px;
}

.banner-copy {
  max-width: 80%;
  justify-self: center;
}

.banner-buttons {
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .banner-color-wrapper {
    background-position: -115px 10px;
  }

  .banner-content {
    margin-left: 190px;
    padding-right: 5px;
  }

  .banner-welcome {
    font-size: 42px;
  }
}

@media only screen and (max-width: 470px) {
  .banner-color-wrapper {
    background-position: 90px 60px;
  }

  .banner-content {
    flex-direction: column;
    flex-flow: wrap;
    margin-left: 20px;
    padding-bottom: 300px;
    text-align: left;
  }

  .banner-copy {
    text-align: left;
    max-width: 100%;
  }

  .banner-welcome {
    font-size: 35px;
    font-weight: 500;
    text-align: left;
  }

  .banner-buttons {
    text-align: left;
  }
}
