.banner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  border: 1px solid pink;
  margin-top: 60px;
  /* padding: 10px; */
}

.banner-bullets {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 0 15px 0 15px;
  /* align-items: center; */
  /* align-content: center;
  align-items: center; */
}

.banner-bullets ul {
  display: flex;
}

.banner-bullets li {
  display: flex;
  padding: 10px;
  list-style-type: none;
  /* float: right; */
}

.contact-button {
  width: 100px;
  height: 25px;
}
.learn-button {
  width: 100px;
  height: 25px;
}

.banner-img {
  border: 1px solid black;
  /* max-height: 300px; */
}

img {
  /* background-image: inherit; */
}
