.contact-wrapper {
    max-width: 600px;
    margin-top: 15px;
}


.contact-color-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fbf7d9;
    padding: 50px 0 50px 0;
}