.footer-wrapper {
  height: 100px;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;

  background-color: #f8f9fa;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content p {
  margin-bottom: 0;
  padding: 40px;
  opacity: 0.65;
}

.footer-elc {
  display: flex;
  align-content: center;
}
