/* Services Page Styling

.card-wrapper {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 5px;
} */

.services-wrapper {
  display: flex;
  margin-top: 55px;
  /* margin-bottom: 25px; */
  flex-direction: column;
  justify-content: space-around;
}

/* Services Card Styling */

.services-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* padding-top: 30px;
  padding-bottom: 30px; */
  max-width: 90%;
  min-height: 450px;
  /* border: solid pink 2px; */
}

.services-color-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.959);
  padding: 20px 0 20px 0;
}

.services-intro {
  margin: 0 15px 0 15px;
}

.services-image {
  min-width: 90%;
  min-height: 420px;
  padding: 10px;
  border-radius: 15px;
  margin-right: 75px;
}

.services-page-image {
  max-width: 70%;
  max-height: 70%;
  padding: 10px;
  border-radius: 50%;
}

.services-card-content {
  flex-direction: column;
  max-width: 500px;
  margin: 20px;
  margin-right: 125px;
}

@media only screen and (max-width: 930px) {
  .services-image {
    padding: 10px;
    margin: 0;
  }

  .services-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    /* max-width: 900px; */
  }

  .services-card-content {
    flex-direction: column;
    max-width: 500px;
    margin-right: 0;
    margin: 0;
  }
}
