.testimonial-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  max-width: 90%;
  min-height: 450px;
}

.testimonial-color-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0 20px 0;
}

.testimonial-image {
  min-width: 100%;
  min-height: 420px;
  padding: 10px;
  border-radius: 15px;

  margin-left: 35px;
}

.testimonial-content {
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin-left: 120px;
  max-width: 500px;
}

.testi-title-mobile {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .testimonial-image {
    min-width: 100%;
    padding: 10px;
    margin: 0;
  }

  .testimonial-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .testimonial-content {
    margin-left: 0;
  }

  .testi-title-desktop {
    display: none;
  }

  .testi-title-mobile {
    display: block;
  }
}
